@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}

.background{
  background: linear-gradient(45deg,
  #2a3c44 0%,
  #23343C 100%
  );
}

@layer components{
  .layout{
    @apply px-5 py-10 max-w-[440px] mx-auto;
  }
  .w-layout{
    @apply max-w-[440px] mx-auto;
  }
  .profile-avater{
    @apply w-14 min-w-14 h-14 rounded-full flex justify-center items-center ;
  }
  .flex-center{
    @apply flex items-center justify-center ;
  }
}


@keyframes greyLoading {
  0% {
    background-color: lightgrey;
  }
  50% {
    background-color: grey;
  }
  100% {
    background-color: lightgrey;
  }
}

.loading-background {
  animation: greyLoading 3s infinite linear;
}
.loading-background-fast {
  animation: greyLoading 1s infinite linear;
}